@model IEnumerable<Trabalho_Final.Models.Mensagem>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>
<h3>Mensagens</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                <a type="button" class="btn btn-outline-dark text-white" asp-action="Details" asp-route-id="@item.MensagemId">Detalhes</a> |
                <a type="button" class="btn btn-outline-dark text-white" asp-action="Delete" asp-route-id="@item.MensagemId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
