@model Curriculo

@{
    ViewData["Title"] = "Index";
}

<h1></h1>
<h3>Experiência Profissional</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Experiencias[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiencias[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiencias[0].Data_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiencias[0].Data_Fim)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Experiencias)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Fim)
            </td>
        </tr>
            }
        </tbody>
</table>

<h1></h1>
<h3>Educação e formação</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Educacaos[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Educacaos[0].Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Educacaos[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Educacaos[0].Data_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Educacaos[0].Data_Fim)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Educacaos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_Fim)
                    </td>
                </tr>
            }
        </tbody>
</table>

<h1></h1>
<h3>Línguas</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Linguas[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linguas[0].Coral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linguas[0].Leitura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linguas[0].Poral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linguas[0].Ioral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linguas[0].Escrita)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Linguas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coral)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leitura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Poral)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ioral)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Escrita)
                    </td>
                </tr>
            }
        </tbody>
</table>

<h1></h1>
<h3>Carta de Condução</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartaConducaos[0].Tipo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartaConducaos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                
            </tr>
        }
    </tbody>
</table>
