@model Trabalho_Final.Models.Lingua

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lingua</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leitura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ioral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ioral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escrita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escrita)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LinguaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
